.contact-me-section{
    background-color: #4c5057;
}


.container{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    form{
        *{
            box-sizing: border-box;
            display: block;
            font-size:2em;
            font-weight: 400;
            font-family: "Roboto Slab";
            color: var(--main-textcolor-always-gray);
            border: none;
            outline: none;
            border-radius: 6px;
            background-color: #fff;
            box-shadow  : 3px 3px 0px rgba(255,255,255,0.4);
            width: 60rem;
            margin: 1.25rem;
            &::placeholder{
                color: #a9a9a9;
            }
        }
        input{
            height: 4.625rem;
            padding-left: 1rem;
            
        }
        textarea{
            height: 20.375rem;  
            padding: 1rem;
            resize: none;

        }

        button{
            height: 72px;
            width: 282px;
            background-color: #fcfaf7;
            border: none;
            outline: none;
            border-radius: 6px;
            color: var(--main-textcolor-always-gray);
            font-size: 2em;
            font-weight: 700;
            font-family: 'Roboto Slab';
            box-shadow: 3px 3px 1px rgba(0,0,0,0.2);;
            cursor: pointer;
            transition: ease 2s;
            margin: auto;
            &:hover{
                background-color: #C82425;
                color: #fff;
            }
        }   
    }

    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h3{
            font-size: 3em;
            color: #f6edd8;
            font-family: Bazar;
            text-align: center;
        }
        .links{
            display: flex;
            flex-direction: row;    
            flex-wrap: wrap;
            margin: 1.5625rem;       
            a{
                width: 9.375rem;
                height: 9.375rem;
                background-color: #f5eee3;
                border-radius: 50%;
                border: 0.25rem solid  var(--main-textcolor);
                box-shadow: 0px 0px 0px 5px #f5eee3;
                background-repeat: no-repeat;
                background-position: center;
                background-size: 75% 75%;
                margin: 1.25rem;
            }
            .twitter{
                background-image: url(twitter-icon.png);
            }
            .gplus{
                background-image: url(gplus-icon.png);
            }
            .facebook{
                background-image: url(fb-icon.png);
            }
            .pinterest{
                background-image: url(pinterest-icon.png);
            }
            .linkedin{
                background-image: url(linkedin-icon.png);
            }
        }
    }
}

.activeQuestion{
    width: 9.375rem;
    height: 9.375rem;
    font-size: 2rem;
}

@media screen and (max-width: 600px){
    .container{
        form{
            button{
                width: 60rem!important;
                height: 9.375rem!important;
            }
        }
    }
}

.contactMeAnimation{
    display: none;
}

@keyframes contactMeAnimation {
    0%{
        display: block;
        color: #ff0000;
        font-size: 0rem;
    }
    100%{
        display: block;
        color: #fff;
        font-size: 15rem;
    }
}

