:root{
    --main-textcolor: #383a3c;
    --main-textcolor-always-gray: #383a3c;
    --title-textcolor: #393a3a;
    --other-textcolor-gray: #38353e;
}

body,
html{
    margin: 0%;
    width: 100%;
    padding: 0;
    position: absolute;
    scroll-behavior: smooth;
}

// dark-theme
html.dark, .dark body header, .dark body section{
    background: #000!important;
    color: #f6edd8!important;
    --main-textcolor: #f6edd8!important;
    --other-textcolor-gray: #f6edd8!important;
    --title-textcolor: #f6edd8!important;
}

// progress-bar
.progress-bar{
    height: 5px;
    width: 100%;
    background: lightgreen;
}

.progress-bar__line{
    width: 0;
    height: 5px;
    background: green;
}

// main
main{
    position: relative;
    width: 100%;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: relative;
}

section > *{
    width: calc(100% - 2.5rem);
}

.section-common-settings{
    padding: 10rem 0;
    width: 100%;
    border-top: 1.25rem solid #0000;
    border-bottom: 1.25rem solid #0000;
    position: relative;
    > * {
        margin: 0 auto;
        max-width: 1920px;
    }
}

section.section-common-settings::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-top: 0.25rem dashed #808080;
}

section.section-common-settings::after{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 0.25rem dashed #808080;
}

@media screen and (max-width: 600px) {
    main{
        top: 0 !important;
    }
    .section-common-settings{
        padding-top: 0 !important;
    }
    header{
        display: none;
    }
}

// separator
.separator{
    width: 80px;
    height: 4px;
    background-color: var(--main-textcolor);
    border: none;
    outline: none;
    margin-top: 25px;
}

.separator_color_light{
    background-color: #f6edd8 !important;
}

.separator_margin{
    margin-top: 0!important;
    margin-inline: 1rem;
}

@media screen and (min-width: 601px){
    html{
        font-size: 7px;
    }
}

@media screen and (min-width: 901px){
    html{
        font-size: 12px;
    }
}

@media screen and (min-width: 1201px){
    html{
        font-size: 14px;
    }
}

@media screen and (min-width: 1920px){
    html{
        font-size: 16px;
    }
}


@media screen and (max-width: 600px){
    html{
        font-size: 5px;
    }
}