.my-blogs-section{
    background-color: #e3e0dd;
}

.blog-content{
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1000px){
    .article{
        align-items: center;
        flex-wrap: wrap!important;
        flex-direction: column!important;
    }
    .article__image{
        width: 450px!important;
        height: 300px!important;
    }
    .article__content-block{
        margin-top: 1.5rem;
    }
}
@media screen and (max-width: 600px){
    .article__image{
        width: 300px!important;
        height: 200px!important;
    }
    
}
.article{
    position: relative;
    display: flex;
    margin-top: 50px;
    flex-direction: row;
    .article__image{
        background-color: #e3dfd7;
        border: 8px solid #fbfaf6;
        border-radius: 6px;
        box-shadow: 3px 3px 2px rgba(0,0,0,0.3);
        flex-shrink: 1;
        height: 428px;
        width: 570px;
    }
    .article__content-block{
        margin-left: 15px;
        flex-shrink: 1000;
        .article__header{
            font-size: 3em;
            color: var(--main-textcolor);
            font-weight: 700;
            font-family: 'Roboto Slab';
            margin: 0;
        }
        .article__content-keywords, .article__responses{
            font-size: 1.25em;
            color: var(--main-textcolor);
            font-weight: 700;
            font-family: Oswald;
        }
        .article__content-keywords{
            margin: 15px 0 0 0;
        }
        .separator{
            display: inline-block;
        }
        .article__content{
            font-size: 2em;
            color: var(--main-textcolor);
            font-weight: 400;
            font-family: 'Roboto Slab';
            max-height: 180px;
            overflow: hidden;
        }
        .article__responses{
            position: absolute;
            right: 10px;
            top: 5px;
        }
    }
}

