@font-face {
  font-family: SeasideResortNF;
  src: url(SeasideResortNF.ttf),
        url(SeasideResortNF.otf);
}
@font-face {
  font-family: Bazar;
  src: url(Bazar.ttf), 
        url(__MACOSX._bazar.ttf);
}
@font-face {
  font-family: Oswald;
  src: url(Oswald-Regular.ttf);
}